<a href="https://colab.research.google.com/github/zeinab29/pandas/blob/main/Occupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url,sep="|",index_col="user_id")
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4. Discover what is the mean age per occupation

In [ ]:
df = pd.DataFrame(users)
occupation_mean = df.groupby("occupation")["age"].mean()
occupation_mean

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
occupation_counts = df.groupby("occupation")["gender"].value_counts().unstack(fill_value=0)
occupation_counts

gender          F    M
occupation
administrator  36   43
artist         13   15
doctor          0    7
educator       26   69
engineer        2   65
entertainment   2   16
executive       3   29
healthcare     11    5
homemaker       6    1
lawyer          2   10
librarian      29   22
marketing      10   16
none            4    5
other          36   69
programmer      6   60
retired         1   13
salesman        3    9
scientist       3   28
student        60  136
technician      1   26
writer         19   26

In [ ]:
occupation_counts['male_ratio'] = occupation_counts['M'] / (occupation_counts['M'] + occupation_counts['F'])
occupation_counts['male_ratio'].sort_values( ascending=False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: male_ratio, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
occupation_age = df.groupby("occupation")["age"].agg(["min","max"])
occupation_age

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
mean_age = df.groupby(["occupation","gender"])["age"].mean()
mean_age

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [ ]:
occupation_count = df.groupby("occupation")["gender"].value_counts().unstack(fill_value=0)
occupation_count["total"] = occupation_count["M"] + occupation_count["F"]
occupation_count["%M"] = (occupation_count["M"]/occupation_count['total'])*100
occupation_count["%F"] = (occupation_count["F"]/occupation_count['total'])*100
occupation_count

gender          F    M  total          %M         %F
occupation
administrator  36   43     79   54.430380  45.569620
artist         13   15     28   53.571429  46.428571
doctor          0    7      7  100.000000   0.000000
educator       26   69     95   72.631579  27.368421
engineer        2   65     67   97.014925   2.985075
entertainment   2   16     18   88.888889  11.111111
executive       3   29     32   90.625000   9.375000
healthcare     11    5     16   31.250000  68.750000
homemaker       6    1      7   14.285714  85.714286
lawyer          2   10     12   83.333333  16.666667
librarian      29   22     51   43.137255  56.862745
marketing      10   16     26   61.538462  38.461538
none            4    5      9   55.555556  44.444444
other          36   69    105   65.714286  34.285714
programmer      6   60     66   90.909091   9.090909
retired         1   13     14   92.857143   7.142857
salesman        3    9     12   75.000000  25.000000
scientist       3   28     31   90.322581   9.677419
student        60  136    196   69.387755  30.612245
technician      1   26     27   96.296296   3.703704
writer         19   26     45   57.777778  42.222222